{% extends "template.html" %}

{% block title %}Sign Up - SmartFit{% endblock %}

{% block content %}
<div class="form-container">
    <h2>Create your Account</h2>
    <form method="POST">
        <input type="text" name="username" placeholder="Choose a Username" required>
        <input type="password" name="password" placeholder="Choose a Password" required>
        <button type="submit">Register</button>
    </form>
    <p>Already have an account? <a href="{{ url_for('login') }}">Login here</a></p>
</div>
{% endblock %}